@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: antiquewhite; */
    
}
.hr-design{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
    height: 2px;
    background-image:linear-gradient(to right,rgba(0,0,0,0),rgb(218, 214, 214),rgba(0,0,0,0));
    outline: none;
    border: none;
}


/* head section styles */
.head-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-section .logo h1{
    margin-left: 60px;
    font-size: 24px;
    font-weight: 800;
}
.head-section .nav-icon{
    margin-right: 60px;
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon nav a{
    margin-right: 30px;
    text-decoration: none;
    font-weight: 500;
    color: #3A3A3A;;
}
.nav-icon .top-icons{
    color: #3A3A3A;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 30px;
}
/* cover section styles */
.cover-section{
   display: flex;
   justify-content: space-around;
   
    
}

.cover-section .text-btn{
    margin-left: 60px;
    width: 60%;

}
.cover-section .text-btn .title{
    font-size: 52px;
    color: #3A3A3A;

}
.cover-section .text-btn .btn{
    margin-top: 40px;
}
.cover-section .text-btn p{
    font-size: 18px;
    color: #3A3A3A;
}

.cover-section .text-btn .btn a{
    text-decoration: none;
    color: #fff;
    background-color: #E02C6D;
    padding: 10px 15px;
    border-radius: 25px;
    font-weight: 700;
}
.cover-section .text-btn .btn .fas{
    margin-left: 10px;
}
.cover-section .cover-img{
    margin-right: 60px;
    width: 40%;
    

    
    



}
.cover-section .cover-img img{
    width: 440px;
    height: 414px;
    position: relative;

}



/* sponsor logo styles  */
.sponsor-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
    margin-left: 60px;
}
/* main section design  */
/* popular collection and card design  */
.popular-collection{
    margin-top: 50px;
    margin-right: 60px;
    margin-left: 60px;
}
.popular-collection .popular{
    text-align: center;
    font-size: 28px;
    color: #3A3A3A;
}
.popular-collection .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    
}
.popular-collection .cards .card{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.151);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
}
.popular-collection .cards .card .thumbnail img{
    
    width: 400px;
    height: 256px;
    display: flex;
    justify-content: center;
    margin-left: 5px;


}
.popular-collection .cards .card .product-name{
    color: #1b1b1b;
    font-size: 24px;
    margin-bottom: 0px;
}
.popular-collection .cards .card .price{
    color: #3A3A3A;
    font-size: 18px;
    margin-bottom: 0;
}
.popular-collection .cards .card .ratting{
    color: orange;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.popular-collection .cards .card .ratting p{
    color: #3A3A3A;
    margin-left: 5px;
}

/* see more text  */
.see-more{
    display: flex;justify-content: end;
    margin-right: 60px;
    margin-top: 50px;
    color: #E02C6D;
    font-size: 18px;
}
.see-more .fas{
    margin-left: 5px;
} 
/* contact section  */
.contact-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 40px;
    margin-bottom: 50px;

}
.contact-form .text-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form .text-heading p{
    text-align: center;
    font-weight: 700;
}
.contact-form .text-heading p span{
     border-bottom: 1px solid #979494; 
    border-top: 1px solid #979494; 
    color: #E02C6D;
   
}
.contact-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-bottom: 20px;

}
.contact-form .form-input{
    margin-bottom: 10px;
    padding: 15px 10px;
    border: 2px solid #E02C6D ;
    border-radius: 5px;
    outline: none;
}
.contact-form .btn{
    padding: 15px;
    background-color: #E02C6D;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
}
/* footer styles */
footer{
    width: 100%;
    text-align: center;
    background: #0A0826;
    color: #fff;
    padding: 10px 0;
    line-height: 14px;
}
footer .footer-text h1{
    font-size: 24px;
}
footer .footer-text p{
    font-size: 12px;
}
footer .social-icon .fab {
    background: rgba(197, 183, 183, 0.144);
    padding: 5px;
    border-radius: 25px;
}


/* cover animation */


/* Rsponsive for mobile  */
@media (max-width:480px) {
    .nav-icon{
        display: none;
    }
   
    .cover-section{
        display: block;
    }
    .cover-section .cover-img img{
        width: 240px;
        height: 214px;
        position: relative;
    
    }
    .cover-section .text-btn .title{
        font-size: 34px;
    }
    .sponsor{
        display: none;
    }
    .popular-collection .cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
    }
    .popular-collection .cards .card .thumbnail img{
    
        width: 300px;
        height: 156px;
        display: flex;
        justify-content: center;
        margin-left: 5px;
    
    
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 40px;
        margin-bottom: 50px;
        margin-left: 80px;
    
    }
    .contact-form .text-heading{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
        
    }
    .contact-form .text-heading p{
        text-align: center;
        font-weight: 400;
        font-size: 10px;
        margin-right: 40px;
    }
    footer{
        width: 100%;
        text-align: center;
        background: #f6f6f8;
        color: #0A0826;
        padding: 10px 0;
        line-height: 14px;
    }
    footer .footer-text h1{
        font-size: 24px;
    }
    footer .footer-text p{
        font-size: 12px;
    }
    footer .social-icon .fab {
        background: rgba(228, 69, 69, 0.144);
        padding: 5px;
        border-radius: 25px;
    }
}
/* Responsive tablet  */
@media (max-width:768px) {
    .nav-icon{
        display: none;
    }
   
    .cover-section{
        display: block;
    }
    .cover-section .cover-img img{
        width: 440px;
        height: 414px;
        position: relative;
    
    }
    .cover-section .text-btn .title{
        font-size: 34px;
    }
    .sponsor{
        display: none;
    }
    .popular-collection .cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1px;
        width: 50%;
    }
    
    .popular-collection .cards .card .thumbnail img{
    
        width: 200px;
        height:100px;
        display: flex;
        justify-content: center;
        margin-left: 5px;
    
    
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 40px;
        margin-bottom: 50px;
        margin-left: 80px;
    
    }
    .contact-form .text-heading{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
        
    }
    .contact-form .text-heading p{
        text-align: center;
        font-weight: 400;
        font-size: 10px;
        margin-right: 40px;
    }
    .contact-form form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin-bottom: 20px;
        margin-left: 50px;
    
    }
}